*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


/* shared style */

.ash-color{
   color: #8987A1;
}
.orange-color{
   color: #E95A08;
}

.flex{
   display: flex;
}

.heading{
   color: black;
   font-size: 3rem;
   font-weight: bold;
   margin-bottom:1.5rem ;
}

.btn{
   padding: 1rem 2rem;
   width: 100%;
   background-color: #E95A08;
   color: white;
   font-weight: 600;
   border: none;
   margin-top: 1rem;
   /* width:100% ; */
}


.hidden{
   display: none;
}

body{
    font-family: "Inter", sans-serif;
     overflow-x: hidden;
 }
 
 
 header,
 main,
 .footer-last{
    max-width: 1140px;
    margin: 1rem auto;
 }
 /* !nav starts here */
 nav{
  
   justify-content: space-between;
   align-items: center;
 }
 
 nav ul{
   list-style: none;
   display: flex; 
   gap: 2rem;
  
 }
 
 nav ul li a{
   
   color: black;
   text-decoration: none;
   text-align: center;
 }

nav i{
  margin-left:  2rem;
}
 /* !nav ends here */



 /* !header intro starts here  */

.header-intro {
   margin-top: 8rem;
   display: flex;
   justify-content: space-between;
   align-items: last baseline;
   /* gap: 8rem; */
 }
 
 .details h1{
   font-size: 4rem;
   font-family: "Noto Serif", serif;
   font-weight: bold;
   margin-bottom: 1rem;
     
 }
 
 /* !header intro ends here  */
 
 /* !main starts here */
 .main-intro{
   margin-top:8rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }
 /* !main ends here */
 .main-cards{
   margin-top:2rem ;
   display: grid;
   grid-template-columns: repeat(4, 1fr); 
   gap: 1rem;
   
 }
 
 .cards{
  margin-top: 2rem;
   
 }
 
 .cards-detais{
   text-align: center;
 }
 
 .cards h3{
   font-size: 1.3rem;
   margin-top: 1rem;
   font-weight: 400;
 }
 .cards p{
   margin-top:1rem ;
    font-size: 1.3rem;
    font-weight: bold;
 }
 /* !trusted-seller starts here */
 .logo img {
   width: 286px;
   height: 286px;
   filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.6));
 }
 .trusted-seller{
   position: relative;
   margin-top: 15rem;
 }
 .logo{
   position: absolute;
   top: -8rem;
   left: 25rem;
 }
 .img-details-part{
   /* border: 1px solid red; */
   display: flex;
   justify-content: space-between;
   gap:8rem;
   align-items: center;
 }
 .details-part li{
   padding-bottom: 1rem;
   font-size: 1.3rem;
 }
 
 /* !latest deals start here */
 
 
 .flower-img-part{
   margin-top: 4rem;
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 1.7rem;
 }
 
  .double-img {
   display: grid;
   grid-template-rows: 1fr 1fr;
   gap: 1.5rem;
 }
 
 .double-img img,
 .zabo-plant img {
   border-radius: 1.2rem;
 }
 
 .zabo-plant {
   position: relative;
   height: 100%;
   width: 100%;
   border-radius: 1.2rem;
   overflow: hidden;
 }
 
 .blar-div-zabo{
   position: absolute;
   top: 0;
   left: 0;
   height: 98%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   color: white;
   text-align: center;
   padding-top: 7rem;
   font-size: 1.3rem;
   border-radius: 1.2rem;
 }
 
 .blar-div-zabo a {
   color: white;
   font-size: 1.4rem;
 }
 .double-img {
   display: grid;
   gap: 20px;
 }
 
 .image-box {
   position: relative;
   height: 206px;
   width: 366px;
   border-radius: 1.2rem;
   overflow: hidden;
 }
 
 .image-box img {
   height: 100%;
   width: 100%;
   border-radius: 1.2rem;
 }
 
 .blar-div{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   color: white;
   text-align: center;
   padding-top: 3rem;
   font-size: 0.6rem;
   border-radius: 1.2rem;
 }
 
 .blar-div h1,
 .blar-div-zabo h1 {
   margin-bottom: 1.5rem;
 }
 
 .blar-div a {
   color: white;
   font-size: 1rem;
 }
 
 /* footer-form start */
 .footer-subscribe{
   margin-top: 3rem;
   max-width: 100%;
   min-height:533px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url(assets/news-letter-bg.png);
   background-repeat: no-repeat;
  background-size: cover;
 
 }
 .footer-subscribe h1{
   color: aliceblue;
 }
 .footer-subscribe form  {
 display: flex;
 align-items: center;
 }
 
 #email-form{
   width: 646px;
   height: 3rem;
   padding-left: 1rem;
 }
 
 #btn{
   width: 186px;
   height: 3rem;
   margin-top: 0;
 }
 
 
 /* ?footer last */
 .footer-last{
   margin-top: 5rem;
   display: flex;
   gap: auto;
   justify-content: space-between;
   
 }
 
 .footer-last ul
 {
   list-style: none;
 }
 .footer-last ul li{
   padding-bottom: 2.5rem ;
  
 }
 
 .company{
   /* border: 1px saddlebrown solid; */
   width: 32%;
   
   
 }
 .company p{
   font-size: 22px;
   margin-top: 1.5rem;
 }
 .icon img{
   padding-left: 1.5rem;
   
 }
 
 .twitter{
   
   margin-bottom: 0.5rem;
 }
 /* responsive area */
 
 @media (max-width: 576px) {
   
   nav,.header-intro,.main-cards {
    max-width: 100%;
     }
    nav,
   .details h1,
   .details p,
   .main-cards,
   .img-details-part,
   .flower-img-part{
   margin: 1rem;
 }
 
   .details h1,
   .heading{
     font-size: 1.5rem;
   }
   /* ?nav */
   nav ul{
   display:none;
 }
 nav i{
   text-align: center;
   font-size: 1.5rem;
  
 }
 /* ?header intro */
   .header-intro {
   margin-top: 1rem;
   display: flex;
   flex-direction: column-reverse;
   gap: 1rem;
 }
 .header-intro img{
   width: 100%;
 }
 
 
 
 /* ?main intro */
 
 .main-intro{
   margin-top:5rem;
  
   
 }
 .main-intro p{
  max-width: 400px;
 }
 .line-gap{
   display: none;
 }
 
 /* ?main-card */
 .main-cards{
   
   grid-template-columns: repeat(2, 1fr); 
  
 }
 
 .cards h3,p{
   font-size: 1rem;
 }
 .cards p{
   padding: 0 2rem;
 }
 .cards img{
   width: 100%;
 }
 .card-hidden{
   display: none;
 }
 
 /* ?trusted part */
 .trusted-seller{
   margin-top:3.5rem;
 }
 .logo{
   display: none;
 }
 .img-details-part{
   flex-direction: column;
   gap: 1.2rem;
 }
 .img-part img{
   width:100%;
 }
 
 .details-part ul{
   padding: 0 1rem;
 }
 .details-part li{
   font-size: 0.9rem;
   
 }
 
 /* ?latest deal+flower img part */
 
  .flower-img-part {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    
   }
 
   .image-box{
     width: 100%;
   }
   .double-img {
    width: 100%;
   }
   .zabo-plant{
     max-height:226px ;
   }
 .blar-div-zabo{
   
   padding-top: 3rem;
    font-size: 0.6rem;
   height: 100%;
 }
 
 .blar-div-zabo a{
   font-size: 1rem;
 }
   
  
   /* ?footer-subscribe */
   .footer-subscribe{
     min-height:276px ;
   }
 form{
   margin: 0 1rem;
 }
 
 #email-form{
   width:100%;
   height:50px;
   padding-left: 1rem;
 }
 
 #btn{
    width: 40%;
   height: 50px;
   margin-top: 0;
 }
 
 .footer-last{
   flex-direction: column;
   margin: 3rem 1rem;
 }
 
 .company{
   /* border: 1px saddlebrown solid; */
   width: 100%;
   
 
 }
 
 .icon img{
   
   padding-left: 0;
   padding-right: 1.5rem;
 }
}